<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style th:inline="css">
        @import url([(${font.fontAddress})]);
        :root {
            --bs-font-sans-serif: [(${font.fontName})];
        }
    </style>
    <title>Title</title>
</head>
<body>
<div class="navHidden" th:insert="fragments/nav :: nav"></div>
<div class="container w-75">


    <table class="table" style="text-align: center; margin: auto;vertical-align: middle">
        <tbody>
        <tr th:if="${error!=null}">
            <td colspan="4">
                <div class="alert alert-danger text-center" role="alert" style="margin: 5px 70px;"
                     th:text="${error}"></div>
            </td>
        </tr>
        <tr>
            <td class="fs-3" colspan="4">
                Картинка под никнеймами
            </td>
        </tr>
        <tr>
            <form action="#" th:action="@{/admin/settings/others-pictures/save=1}"
                  th:object="${newPicture}" method="post" enctype="multipart/form-data">
                <td>
                    <input class="form-control form-control-sm" type="file" th:name="picture">
                </td>
                <td>
                    <button id="input_upload_1" type="submit" hidden></button>
                    <label class="btn btn-outline-danger" for="input_upload_1"> Загрузить
                    </label>
                </td>
            </form>
            <td>
                <input id="offsetImgUnderNicknameInput"
                       class="form-control form-control-sm" type="text" th:value="${imgUnderNickname[1]}">
            </td>
            <td>
                <button class="btn btn-outline-danger" onclick="setOffsetImgPicturesNickname()">Сохранить</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img style="height:4vw"
                     th:src="@{{img} (img = ${imgUnderNickname[0]})}">
            </td>
            <td colspan="2">
                Рекомендуемое соотношение сторон 1 : 2.5
            </td>
        </tr>
        <tr>
            <td class="fs-3" colspan="4">
                Картинка под секундомером
            </td>
        </tr>
        <tr>
            <form action="#" th:action="@{/admin/settings/others-pictures/save=2}"
                  th:object="${newPicture}" method="post" enctype="multipart/form-data">
                <td>
                    <input class="form-control form-control-sm" type="file" th:name="picture">
                </td>
                <td>
                    <button id="input_upload_2" type="submit" hidden></button>
                    <label class="btn btn-outline-danger" for="input_upload_2"> Загрузить
                    </label>
                </td>
            </form>
            <td>
                <input id="offsetImgUnderStopwatchInput"
                       class="form-control form-control-sm" type="text" th:value="${imgUnderStopwatch[1]}">
            </td>
            <td>
                <button class="btn btn-outline-danger" onclick="setOffsetImgPicturesStopwatch()">Сохранить</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img style="height:4vw"
                     th:src="@{{img} (img = ${imgUnderStopwatch[0]})}">
            </td>
            <td colspan="2">
                Рекомендуемое соотношение сторон 1 : 2.5
            </td>
        </tr>
        <tr>
            <td class="fs-3" colspan="4">
                Картинка под выбором карт
            </td>
        </tr>
        <tr>
            <form action="#" th:action="@{/admin/settings/others-pictures/save=3}"
                  th:object="${newPicture}" method="post" enctype="multipart/form-data">
                <td colspan="2">
                    <input class="form-control form-control-sm" type="file" th:name="picture">
                </td>
                <td colspan="2">
                    <button id="input_upload_3" type="submit" hidden></button>
                    <label class="btn btn-outline-danger" for="input_upload_3"> Загрузить
                    </label>
                </td>
            </form>

        </tr>
        <tr>
            <td colspan="2">
                <img style="height:4vw"
                     th:src="@{{img} (img = ${imgUnderSelectMap})}">
            </td>
            <td colspan="2">
                Рекомендуемое соотношение сторон 16 : 9 (Full HD)
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" th:src="@{/js/settingOthersPictures.js}"></script>
</html>