<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style th:inline="css">
        @import url([(${font.fontAddress})]);
        :root {
            --bs-font-sans-serif: [(${font.fontName})];
        }
    </style>
    <title>Title</title>
</head>
<body>
<div class="navHidden" th:insert="fragments/nav :: nav"></div>
<div class="container w-75">

    <form action="#" th:action="@{/admin/settings/audio/save}"
          th:object="${newAudio}" method="post" enctype="multipart/form-data">
        <table class="table" style="text-align: center; margin: auto;vertical-align: middle">
            <thead>
            <tr th:if="${error!=null}">
                <td colspan="5">
                    <div class="alert alert-danger text-center" role="alert" style="margin: 5px 70px;"
                         th:text="${error}"></div>
                </td>
            </tr>
            <tr>
                <td class="fs-4" colspan="2">
                    Настройка аудио
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input class="form-control form-control-sm" type="file" th:name="saveAudio">
                </td>
                <td>
                    <button id="input_upload" type="submit" onclick="window.location.reload()" hidden></button>
                    <label class="btn btn-outline-danger" for="input_upload"> Загрузить
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <audio controls type="audio/ogg; codecs='vorbis'"
                           th:src="@{{audioPath} (audioPath=${audioPath})}"
                           preload="auto"></audio>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/font.js}"></script>
</body>
</html>